<div class="container">
    <span class="input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control" ng-model="_query" placeholder="Поиск" />
        <span class="input-group-btn"><button class="btn btn-default" ng-click="_query=''"><i class="fa fa-times"></i></button></span>
    </span>
    <table class="table">
        <thead>
        <tr>
            <th class="col-md-11" colspan="2">Список справочников</th>
            <th class="col-md-1 text-right"><a href="#/add" class="text-nowrap">&plus; Добавить</a></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in rb_list | filter:_query" ng-if="!! rb_list.length">
            <td ng-bind="item.code"></td>
            <td><a href="#/edit/[[ item.code ]]/data">[[ item.name ]]</a></td>
            <td class="text-right"><a href="#/edit/[[ item.code ]]/meta">Структура</a></td>
        </tr>
        <tr ng-if="! rb_list.length">
            <td colspan="2" class="text-center">
                Пока не создано ни одного справочника
            </td>
        </tr>
        </tbody>
    </table>
</div>
